*.pyc
build
.vscode
examples/**/SConstruct
examples/**/mcal
examples/**/modm
examples/**/.lbuild_cache
examples/**/Makefile
examples/**/CMakelists.txt
.sconsign.dblite
docs/_build
docs/api
docs/doxyoutput
tools/*
!tools/scripts