*.pyc
build
examples/**/SConstruct
examples/**/mcal
examples/**/modm
examples/**/.lbuild_cache
examples/**/Makefile
examples/**/CMakelists.txt
examples/**/*.log
examples/**/**/*.log
.sconsign.dblite
docs/_build
docs/api
docs/doxyoutput
tools/*
!tools/scripts