#
# Atmel SAME70 Xplained evaluation kit.
# https://www.microchip.com/en-us/development-tool/ATSAME70-XPLD
#
# Connect using the EDBG chip on the dev kit over USB.

source [find interface/jlink.cfg]
transport select swd

set CHIPNAME atsame70n20

source [find target/atsamv.cfg]

# reset_config srst_only
init
halt
